@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);

body
{
    background-color: #26343f;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

label, .checkbox label {
    color: #eeeeee;
    font-weight: 300;
}

.lang-selector {
    float: right;
    margin: -30px 12px 0px 0px;
}


.action-area .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.action-area a, p {
    line-height: 24px;
}

.action-area p {
    color: #ffffff;
}

.row.action-area {
    padding: 30px 0;
    background-color: #2F404E;
    overflow: hidden;
}

.horizontal-divider {
    width: 100%;
    border-top: 1px solid #465F69;
    text-align: center;
    margin: 30px 0;
}

.horizontal-divider span {
    background: none repeat scroll 0 0 #428BCA;
    color: #FFF;
    border-radius: 33px;
    padding: 10px 8px;
    text-transform: uppercase;
    font-weight: 400;
    border: 8px solid #2F404E;
    position: relative;
    top: -11px;
}

.vertical-divider {
    border-right: 1px solid #465F69;
    height: 500px;
    position: absolute;
    right: 50%;
    top: -30px;
}

.vertical-divider span {
    background: none repeat scroll 0 0 #428BCA;
    color: #FFF;
    border-radius: 33px;
    padding: 10px 8px;
    text-transform: uppercase;
    font-weight: 400;
    border: 8px solid #2F404E;
    position: relative;
    top: 43px;
    left: 28px;
}

