@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);

body
{
    background-color: #26343f;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

label, .checkbox label {
    color: #eeeeee;
    font-weight: 300;
}

.lang-selector {
    float: right;
    margin: -30px 12px 0px 0px;
}



