.intro header {
    margin: 40px auto 0 auto;
    padding: 0 0 40px;
    border-bottom: 1px solid #465f69;
    width: 240px;
}

.intro h1 {
   font-size: 46px;
    color: #eee;
    font-weight: 300;
}

.intro h2 {
    color: #bbbbbb;
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
}

.intro h2 > .glyphicon {
    top: 4px;
}

.intro .spacer-big {
    margin: 0 0 60px;
}


.intro .spacer-medium {
    margin: 0 0 30px;
}

.intro .spacer-small {
    margin: 0 0 15px;
}


.intro h1 > span {
    color: #999;
} 

.text-center-xs {
    text-align: center;
}

@media (min-width: 768px) {

    .text-center-xs {
        text-align: left;
    }

}
