.intro header {
    margin: 40px auto 0 auto;
    padding: 0 0 40px;
    border-bottom: 1px solid #465f69;
    width: 240px;
}

.intro h1 {
    font-size: 46px;
    color: #eee;
    font-weight: 300;
}

.intro h2 {
    color: #bbbbbb;
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
}

.intro h2 > .glyphicon {
    top: 4px;
}

.intro .spacer-big {
    margin: 0 0 60px;
}


.intro .spacer-medium {
    margin: 0 0 30px;
}

.intro .spacer-small {
    margin: 0 0 15px;
}


.intro h1 > span {
    color: #999;
} 

.login-action .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.login-action a, p {
    line-height: 24px;
}

.login-action p {
    color: #ffffff;
}

.row.login-action {
    padding: 30px 0;
    background-color: #2F404E;
    overflow: hidden;
}

/*
.login-action a:hover, a:focus {
    color: #8fa000;
    text-decoration: underline;
}
*/

.horizontal-divider {
    width: 100%;
    border-top: 1px solid #465F69;
    text-align: center;
    margin: 30px 0;
}

.horizontal-divider span {
    background: none repeat scroll 0 0 #428BCA;
    color: #FFF;
    border-radius: 33px;
    padding: 10px 8px;
    text-transform: uppercase;
    font-weight: 400;
    border: 8px solid #2F404E;
    position: relative;
    top: -11px;
}

.vertical-divider {
    border-right: 1px solid #465F69;
    height: 500px;
    position: absolute;
    right: 50%;
    top: -30px;
}

.vertical-divider span {
    background: none repeat scroll 0 0 #428BCA;
    color: #FFF;
    border-radius: 33px;
    padding: 10px 8px;
    text-transform: uppercase;
    font-weight: 400;
    border: 8px solid #2F404E;
    position: relative;
    top: 43px;
    left: 28px;
}

.text-center-xs {
    text-align: center;
}

@media (min-width: 768px) {

    .text-center-xs {
        text-align: left;
    }

}
